.tour {
  position: relative;
  z-index: 1;
  min-height: 800px;
  padding: 200px 20px 80px;
}

.tour__container {
  max-width: 1200px;
  margin: 0 auto;
}

.tour img {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* object-position: 35%;*/
}

.tour__text-wrapper {
  position: relative;
  z-index: 2;
  max-width: 782px;
}

.tour__text-wrapper h1 {
  margin: 0 0 25px;

  @include font-face(77px, 77px, 56px, 56px, 30px, 30px);
  font-weight: 800;

  @include vp-1023 {
    margin: 0 0 15px;
  }
}

.tour__text-wrapper p {
  max-width: 464px;
  margin: 0 0 35px;

  @include font-face(17px, 24px, 17px, 24px, 17px, 24px);

  @include vp-1023 {
    margin: 0 0 25px;
  }

  @include vp-767 {
    margin: 0 0 60px;
  }
}

.tour__button {
  display: inline-flex;
  margin: 0 0 135px;
  padding: 19px;

  background-color: $color-navy-blue;
  color: $color-default-white;
  border: 1px solid $color-navy-blue;
  user-select: none;

  @include hover-focus {
    background-color: $color-default-white;
    border-color: $color-resolution-blue;
    border-radius: 6px;
    color: $color-resolution-blue;
    outline: none;
  }

  @include active {
    color: $color-default-white;
    border-radius: 6px;
    border-color: $color-resolution-blue;
    background-color: $color-resolution-blue;
  }

  @include disabled {
    background-color: #999999;
  }
}

.tour__labels {
  margin: auto 0 0;
}
