.video {
  height: 317px;
  width: 482px;
}

.video img {
  position: absolute;
  z-index: 1;
  inset: unset;
  height: 317px;
  width: 482px;
  transform: unset;
}

.video iframe {
  display: none;
}

.video__play-button {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;

  background-color: transparent;
  border: 1px solid $color-default-white;
  border-radius: 50%;
  color: $color-default-white;

  cursor: pointer;

  @include hover-focus {
    border-color: $color-resolution-blue;

    svg {
      stroke: $color-default-black;
    }
  }

  @include active {
    background-color: $color-resolution-blue;
    border-color: $color-resolution-blue;
  }

  @include disabled {
    border-color: rgba($color-navy-blue, 0.1);
    color: $color-navy-blue;
    cursor: default;
  }

  svg {
    margin: 0 0 0 5px;
  }
}
